<div id="menus" class="subnav">
  <ul class="nav nav-tabs">
    <li class="<%= menu_class(controller.action_name,'show') %>">
      <%= link_to "Profile", user_path(@user) %>
    </li>
    <li class="<%= menu_class(controller.action_name, 'posts') %>">
      <%= link_to "Posts (#{@user.posts.count})", posts_user_path(@user) %>
    </li>
    <li class="<%= menu_class(controller.action_name, 'comments') %>">
      <%= link_to "Comments (#{@user.comments.count})", comments_user_path(@user) %>
    </li>
  </ul>
</div>
