<% provide(:title, 'Sign up') %>
<h3>Sign up</h3>
<hr />

<%= simple_form_for @user, defaults: { input_html: {class: "input-xlarge"}, error: false } do |f| %>
  <%= render 'shared/error_messages', obj: @user %>
  <%= f.input :username, label: "Name" %>
  <%= f.input :email, placeholder: "user@example.com" %>
  <%= f.input :password, hint: "Be at least 6 characters" %>
  <%= f.input :password_confirmation, label: "Confirmation" %>
  <%= f.submit "Create account", class: "btn btn-primary" %>
<% end %>
