<% @posts.each do |post| %>
  <div class="row">
    <div class="span8 well">
      <% post.categories.each do |category| %>
        <span class="label">
          <%= link_to category.name, '#' %>
        </span>
      <% end %>
      <h4>
        <%= link_to post.title, post.url, target: '_blank' %>
      </h4>
      <p><%= post.description %></p>
      <p>
      <span class="quiet">posted by</span>
      <%= link_to post.user.username, '#' %>
      <small><%= post.created_at %></small>
      </p>
    </div>
  </div>
<% end %>
