<% provide(:title, @category_name) %>
<% if @category_name.nil? %>
  <p class="lead">All Posts</p>
<% else %>
  <p class="lead">
  <%= link_to 'All Posts', posts_path %> »
  <%= @category_name %>
  </p>
<% end %>
<hr />

<% @posts.each do |post| %>
  <div class="row">
    <div class="span8 well">
      <% post.categories.each do |category| %>
        <span class="label">
          <%= link_to category.name, category %>
        </span>
      <% end %>
      <h4>
        <%= link_to post.title, post.url, target: '_blank' %>
      </h4>
      <p><%= post.description %></p>
      <p>
        <span class="quiet">posted by</span>
          <%= link_to post.user.username, user_path(post.user) %>
        <small><%= post.created_at %></small>
      </p>
      <small>
        <span><%= link_to pluralize(post.comments.size, "comment"), post %></span>
      </small>
    </div>
  </div>
<% end %>
