<p class="lead">
  <%= link_to @post.title, @post.url, target: "_blank" %>
</p>
<hr />
<p><%= @post.description %></p>
<hr />
<h5>Cagegories</h5>
<% @post.categories.each do |category| %>
  <span class="label">
    <%= link_to category.name, category %>
  </span>
<% end %>
<hr />

<% if signed_in? %>
  <%= simple_form_for @comment, url: post_comments_path(@post, @comment) do |f| %>
    <%= render 'shared/error_messages', obj: @comment %>
    <%= f.input :body, label: 'Leave a comment', label_html: {class: 'comment'}, error: false %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
  <hr />
<% end %>

<% @post.comments.reverse.each do |comment| %>
  <% if !comment.id.nil? %>
    <h5>Comments:</h5>
    <div class="row">
      <div class="well span8">
        <em><%= comment.body %></em><br/>
        <span class="quiet">by</span>
        <%= link_to comment.user.username, user_path(comment.user) %>
        <small> at <%= comment.created_at %></small>
      </div>
    </div>
  <% end %>
<% end %>
